<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Change Password</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/css/PageStyle.css">
    </head>
    <body>
        div.top
            <ul>
                <li><a href="/">Home</a></li>
                li: a(href=`/chatRoom/${user.name}`) Chat Room
                li: a(href="/sellCar/carDetails") Sell a car
                li: a(href="/drive") Drive
                li: a(class= "active" href=`/myProfile/${user.name}` style="color: black;") #{user.name}
                li(style="float:right;"): a(href='/logout') Logout 
            </ul>
        <div class="signup-box">
          form(action=`/changePassword/${user.name}` method="POST")   
            <h4>EDIT PROFILE</h4>
            
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Password</span>
                </div>
                <input type="password" class="form-control" name="currPass" aria-label="Password" aria-describedby="basic-addon1" autocomplete="off" required autofocus>
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">New Password</span>
                </div>
                <input type="password" class="form-control" name="newPass" aria-label="Password2" aria-describedby="basic-addon1" autocomplete="off" required>
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Confirm Password</span>
                </div>
                <input type="password" class="form-control" name="confirmPass" aria-label="Password2" aria-describedby="basic-addon1" autocomplete="off" required>
            </div>

            <input class="btn btn-primary" type="submit" name="" value="Change">
          
            #alert-box
                if errors
                    <div class="alert alert-danger" role="alert" style="margin-top: 20px">
                        ul(style="list-style-type: none;")
                            each err in errors
                                li= err
                    </div>
        </div>

        div.footer
            p &copy; 2020 Vehicle Assistant
    </body>
</html>