<html>
  head
    block styles
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    link(rel="stylesheet" type="text/css" href="/css/PageStyle.css")
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    title Edit Car Details
  <body>
    div.top
      <ul>
        <li><a href="/home">Home</a></li>
        li: a(href=`/chatRoom/${user.name}`) Chat Room
        <li><a href="/sellCar/carDetails">Sell a car</a></li>
        li: a(href="/drive") Drive
        <li><a href="/myCars" class="active" style="color: black;">My Cars</a><li>
        li: a(href=`/myProfile/${user.name}`) #{user.name}
        li(style="float:right;"): a(href='/logout') Logout 
      </ul>

    <div class="car-info-box" style="top: 45%; left: 50%">
      form(action=`/editPost/${car._id}` method="POST")   
        //- <h4>Edit Car Details</h4>
        img(src="/Logo.jpg", alt="Logo" style="height: 250px; width: 250px; transform: translate(7%, -1%)")
        <div class="form-group">
          <select class="form-control" name="brand" id="brand" onChange="changeModel(this.value);">
            <option value="" disabled selected>Select Brand</option>
            <option value="Maruti">Maruti</option>
            <option value="Hyundai">Hyundai</option>
            <option value="Audi">Audi</option>
            <option value="BMW">BMW</option>
            <option value="Chevrolet">Chevrolet</option>
            <option value="Ford">Ford</option>
            <option value="Fiat">Fiat</option>
            <option value="Honda">Honda</option>
            <option value="Mahindra">Mahindra</option>
            <option value="MercedesBenz">MercedesBenz</option>
            <option value="Nissan">Nissan</option>
            <option value="Renault">Renault</option>
            <option value="Skoda">Skoda</option>
            <option value="Tata">Tata</option>
            <option value="Toyota">Toyota</option>
            <option value="Volkswagen">Volkswagen</option>
          </select>
        </div>

        <div class="form-group">
          <select class="form-control" name="model" id="model">
              <option value="" disabled selected>Select Model</option>
          </select>
        </div>

        <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">State</span>
        </div>
          input(type="text" class="form-control" name="regState" value=`${car.regState}` aria-label="State" aria-describedby="basic-addon1" autocomplete="off" required)
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">City</span>
          </div>
          input(type="text" class="form-control" name="regCity" value=`${car.regCity}` aria-label="City" aria-describedby="basic-addon1" autocomplete="off" required)
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">Year</span>
          </div>
          input(type="text" class="form-control" name="regYear" value=`${car.regYear}` aria-label="Year" aria-describedby="basic-addon1" autocomplete="off" required)
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">Kilometers</span>
          </div>
          input(type="text" class="form-control" name="km" value=`${car.km}` aria-label="Kilometers" aria-describedby="basic-addon1" autocomplete="off" required)
        </div>

        div(style="transform: translate(20%, 0%)")
          <input class="btn btn-primary" type="submit" name="" value="Save" >
          a(href=`/myCars` class="btn btn-secondary" style="margin-left: 20px") Cancel

        #alert-box
          if errors
              <div class="alert alert-danger" role="alert" style="margin-top: 20px">
                  ul(style="list-style-type: none;")
                      each err in errors
                          li= err
              </div>
    </div>

    div.footer
      p &copy; 2020 Vehicle Assistant

    script(src="../JS/brand-model.js")
  </body>
</html>
