<html>
  head
    block styles
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    link(rel="stylesheet" type="text/css" href="/css/PageStyle.css")
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    title Edit Car Details
  <body>
    div.top
      <ul>
        <li><a href="/home">Home</a></li>
        li: a(href="/evaluateCar") Evaluate Car
        <li><a href="/usedCars">Used Cars</a></li>
        li: a(href="/drive") Drive
        <li><a href="/myCars" class="active" style="color: black;">My Cars</a><li>
        li: a(href=`/myProfile/${user.name}`) #{user.name}
        li(style="float:right;"): a(href='/logout') Logout 
      </ul>

    <div class="car-info-box" style="top: 50%; left: 50%">
      form(action=`/editPost/${car._id}` method="POST")   
        <h4>Edit Details</h4>
        //- img(src="/Logo.jpg", alt="Logo" style="height: 220px; width: 220px; transform: translate(12%, -2%)")
        <div class="form-group">
          <select class="form-control" name="brand" id="brand" onChange="changeModel(this.value);" required>
            <option value="" disabled selected>Select Brand</option>
            <option value="Maruti">Maruti</option>
            <option value="Hyundai">Hyundai</option>
            <option value="Audi">Audi</option>
            <option value="BMW">BMW</option>
            <option value="Chevrolet">Chevrolet</option>
            <option value="Ford">Ford</option>
            <option value="Fiat">Fiat</option>
            <option value="Honda">Honda</option>
            <option value="Mahindra">Mahindra</option>
            <option value="MercedesBenz">MercedesBenz</option>
            <option value="Nissan">Nissan</option>
            <option value="Renault">Renault</option>
            <option value="Skoda">Skoda</option>
            <option value="Tata">Tata</option>
            <option value="Toyota">Toyota</option>
            <option value="Volkswagen">Volkswagen</option>
          </select>
        </div>

        <div class="form-group">
          <select class="form-control" name="model" id="model" required>
              <option value="" disabled selected>Select Model</option>
          </select>
        </div>

        <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">State</span>
        </div>
          input(type="text" class="form-control" name="regState" value=`${car.regState}` aria-label="State" aria-describedby="basic-addon1" autocomplete="off" required)
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">City</span>
          </div>
          input(type="text" class="form-control" name="regCity" value=`${car.regCity}` aria-label="City" aria-describedby="basic-addon1" autocomplete="off" required)
        </div>

        <div class="form-group">
          <select class="form-control" name="regYear" required>
            <option value="" disabled selected>Year of Registration</option>
            <option value="2005">2005</option>
            <option value="2006">2006</option>
            <option value="2007">2007</option>
            <option value="2008">2008</option>
            <option value="2009">2009</option>
            <option value="2010">2010</option>
            <option value="2011">2011</option>
            <option value="2012">2012</option>
            <option value="2013">2013</option>
            <option value="2014">2014</option>
            <option value="2015">2015</option>
            <option value="2016">2016</option>
            <option value="2017">2017</option>
            <option value="2018">2018</option>
          </select>
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">Kilometers</span>
          </div>
          input(type="text" class="form-control" name="km" value=`${car.km}` aria-label="Kilometers" aria-describedby="basic-addon1" autocomplete="off" required)
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">Set Price</span>
          </div>
          input(type="text" class="form-control" name="price" value=`${car.price}` aria-label="Price" aria-describedby="basic-addon1" autocomplete="off" required)
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">Auction Date</span>
          </div>
          input(type="date" class="form-control" name="auctionDate" aria-label="State" aria-describedby="basic-addon1" autocomplete="off" required)
        </div>

        div(style="transform: translate(20%, 0%)")
          <input class="btn btn-primary" type="submit" name="" value="Save" >
          a(href=`/myCars` class="btn btn-secondary" style="margin-left: 20px") Cancel

        #alert-box
          if errors
              <div class="alert alert-danger" role="alert" style="margin-top: 20px">
                  ul(style="list-style-type: none;")
                      each err in errors
                          li= err
              </div>
    </div>

    div.footer
      p &copy; 2020 Vehicle Assistant
        <a href="https://github.com/UtkarshaAnand/VehicleAssistant" target="_blank" style="font-size: medium;"><i class="fa fa-github" style=" margin-left: 10px;"></a></i>

    script(src="../JS/brand-model.js")
  </body>
</html>
